li a {
  color: grey;
  font-size: 6vw;
  text-decoration: none;

}
.icon-menu {
  position:absolute;
  right:0;
  top:0;
  margin:0;
  font-size:3em;
}
.main-nav li{
  display:none;
  padding: 3%;

}
ul{
  padding-left:0;
}
.main-nav:hover li {
  display:block;
}

@media screen and (min-width: 640px) {
  .icon-menu {
    display: none;
  }

  .main-nav li {
    display: inline;
  }

  li a {
    font-size: 3vw;
  }

 .main-nav:hover li {
   display: inline;
 }
}






  

